#Define your application port here
server:
  port: 8080
  error:
    include-message: always
    include-binding-errors: always
spring:
  datasource:
    url: jdbc:h2:mem:contactsDb
    username: sa
    password: password
    driverClassName: org.h2.Driver
  jpa:
    database-platform: org.hibernate.dialect.H2Dialect
    show-sql: true
    properties.hibernate:
        format_sql: true
logging:
  level:
    root: info
    com.github.erikrz.contacts.service: trace
